doctype html
html(lang="ko")
    head
        meta(charset='utf-8')
        title Book Management System
        link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
        script(src='https://code.jquery.com/jquery-latest.min.js')
    body
        header.w3-container.w3-pale-yellow.w3-center
            h2 Book Management System
            p Book Management System 2020 with Nodejs &amp; MongoDB
        section.w3-container.w3-margin
            block content