<script>
    $(function(){
      $(".btn-write").click(function(){
        document.location.href = '/bbs/insert'
      })

      $(".main-header").click(function(){
        document.location.href = '/'
      })
    })
</script>
<style>
    .main-header{
      cursor: pointer;
    }
</style>
<header class="jumbotron w3-win8-yellow w3-center main-header">
    <h2>BBS 2020</h2>
    <p>BBS 2020 with Nodejs &amp; mysql</p>
</header>