div.form {
  display: flex;
}

div.form input {
  flex: 1;
  font-size: 1.25rem;
  outline: none;
  border: none;
  border-bottom: 1px solid bisque;
}

div.todo-insert {
  /* top/bottom: 0.5rem left/right: 1rem */
  padding: 0.5rem 1rem;
  margin-top: 20px;
  margin-left: 1rem;
  background-color: peachpuff;
  border-radius: 3px;
  color: gray;
  font-weight: 600;
  cursor: pointer;
}

div.todo-insert:hover {
  background-color: blanchedalmond;
}
